<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sejigner.glee">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_glee_vector"
        android:label="@string/app_name_kor"
        android:roundIcon="@drawable/ic_launcher_glee_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.Glee">
        <activity android:name=".CanvasActivity" android:hardwareAccelerated="false"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>